
body {
  font-family: sans-serif;
  background: #e6e6e6;
}
@media (min-width: 600px) {
  body {
    padding: 30px 4%;
  }
}

h1 {
  margin: 20px auto 40px;
  padding-bottom: 4px;
  border-bottom: 1px solid #c4ced2;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

#canvas_wrapper {
  width: 55%;
  padding: 3% 6% 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: transparent;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
  border-radius: 40px;
}

#controls {
  width: 32%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 15px;
}

#video,
#infos {
  width: 100%;
}

.selectedCombo {
  border: 2px solid #8aa !important;
  background: #dff !important;

}
.rangeCombo {
  margin-bottom: 5%;
  padding: 3% 6%;
  width: 84%;
  margin-left: 8%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all .2s linear;
   background: transparent;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
  border-radius: 28px;
}

.rangeCombo:not(.active) {
  max-height: 50px;
}

#generalControls.rangeCombo {
  max-height: none;
}

.rangeCombo > .inputCombo {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  margin-bottom: 0;
  line-height: 2em;
  transition: max-height .2s linear;
}


.rangeCombo > .inputCombo:first-child,
.rangeCombo:first-child > .inputCombo {
  max-height: 32px;
  opacity: 1;
}

.rangeCombo.active > .inputCombo {
  max-height: 32px;
  opacity: 1;
}

.rangeCombo.active > .inputCombo:first-child {
  max-height: 32px;
}

.inputCombo {
  display: flex;
  justify-content: space-between;
}

.inputCombo label,
.inputCombo input {
  align-self: center;
}

.inputCombo label {
  width: 44%;
  font-size: 0.9em;
  white-space: nowrap;
}
#generalControls .inputCombo label {
  width: 70%;
}
.inputCombo  input[type=text] {
  margin-left: 10px;
}

.inputCombo input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 18px;
  height: 18px;
  color: white;
  background: #2c3e50;
  z-index: 10;
}

.inputCombo input[type=checkbox]:checked:after {
  position: absolute;
  margin-left: 5px;
  content: "✓";
  color: white;
}

.checkbox {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.checkbox:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.checkbox:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.checkbox label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.checkbox input[type=checkbox] {
  visibility: hidden;
}
.checkbox input[type=checkbox]:checked + label {
  left: 43px;
}

#video canvas{
  display: block;
  margin: 0 auto 40px;
  width: 100%;
  border-radius: 5px;
}

#title {
  padding: 5px;
  width: 1024px;
  clear:both;
  border: 1px solid #888;
  border-radius: 5px;
  box-sizing: border-box;
  margin: auto;
}

.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

input[type=range] {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #f5f5f5;
  outline: none;
  padding: 0;
  margin: 0;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
input[type=range]::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
input[type=range]:active::-webkit-slider-thumb {
  background: #1abc9c;
}
input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -moz-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
input[type=range]::-moz-range-thumb:hover {
  background: #1abc9c;
}
input[type=range]:active::-moz-range-thumb {
  background: #1abc9c;
}
input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

input[type=text] {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 15px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
input[type=text]:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}


@media (max-width: 1100px) {
  .rangeCombo {
    font-size: 0.8em;
  }
}

@media (max-width: 800px) {
  #canvas_wrapper {
    width: 100%;
    margin-bottom: 10px;
  }

  #controls {
    width: 100%;
  }
  .rangeCombo {
    margin-left: 0;
    width: 92%;
    font-size: 1em;
  }
}
